body {
    font-family: "Electrolize", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #243A4E;
    margin: 0;
    color: #FAFAFA; /* Lightened for contrast */
    padding-top: 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 0 0 20px;
    font-weight: 550;
    color: white; /* Ensured visibility against dark background */
}

table {
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #777; /* Lighter border for contrast */
    text-align: left;
    padding: 8px;
    color: #EEE; /* Lighter text color for readability */
}

th {
    background-color: #324A5F; /* Slightly lighter than body for subtle contrast */
    font-weight: 700;
}

tr:nth-child(even) {
    background-color: #2C3E50; /* A dark shade that contrasts with the text */
}

.custom-context-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #2C3E50; /* Matches row color for consistency */
    border: 1px solid #324A5F;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    padding: 10px 0;
}

.custom-context-menu li {
    list-style: none;
    padding: 8px 10px;
    cursor: pointer;
    color: #FAFAFA; /* Light color for readability */
}

.custom-context-menu li:hover {
    background-color: #324A5F;
}

#backButtonContainer {
    position: absolute;
    top: 10px;
    left: 10px;
}

#backToMinigames {
    font-family: "Electrolize", sans-serif;
    background-color: #1C2D3D; /* A deep green for better visibility and aesthetics */
    color: white; /* White text for high contrast and readability */
    border: 2px solid black; /* Solid border to match the background */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    transition: all 0.3s ease; /* Smooth transition for a more interactive feel */
}

#backToMinigames:hover {
    background-color: #fdb740; /* A slightly darker green for the hover state */
    border-color: black; /* Darker border to emphasize the hover effect */
    color: black;
}

#favoritesTable td {
    text-align: center;
    vertical-align: middle; /* Aligns content vertically in the middle */
}

.deleteBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #FF4136; /* Adjusted for visibility */
}   

.deleteBtn i { /* Directly style the icon if needed */
    color: #FF4136; /* Adjusted for visibility */
}

.table-actions {
    display: flex;
    justify-content: center; /* Ensures horizontal centering */
    align-items: center; /* Ensures vertical centering */
    width: 100%;
    margin: 20px auto; /* Adjust the margin as necessary */
    position: relative; /* Enables absolute positioning within */
}

#deleteSelected {
    font-family: "Electrolize", sans-serif;
    padding: 5px 10px;
    background-color: #f44336; /* Ensured visibility */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none; /* Remains hidden until a selection is made */
    margin: 0 auto; /* Centers the button horizontally in the flex container */
}

#deleteSelected:hover {
    background-color: #d32f2f;
}
