body {
    font-family: 'Source Code Pro', monospace;
    background-color: #FAF9F6;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* This centers the #centering-container */
    min-height: 100vh;
}

#title-container, #backButtonContainer {
    position: fixed;
    /* These elements are positioned relative to the viewport,
       so they don't move with the flexbox adjustments */
}

#title-container {
    top: 20px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: transparent;
    box-shadow: none;
    z-index: 1000;
}

#backButtonContainer {
    top: 10px;
    left: 10px;
    z-index: 2000;
}

#backToMinigames {
    font-family: 'Source Code Pro', monospace;
    background-color: #e0e0e0;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
}

#backToMinigames:hover {
    background-color: #45a049;
}

#centering-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; /* Allows the container to grow with its content */
    /* No specified padding-top here; we're using transform to center */
}

#categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* This centers the flex items horizontally */
    gap: 30px; /* Keeps the gap as you wanted */
}

#categories-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#categories-list li {
    background: #ffffff;
    color: #222;
    font-weight: 500;
    font-size: 1em;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#categories-list li:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}