body {
    padding-top: 70px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zMS1hb20tMDAzLXdvb2RfMi5qcGc.jpg');
}

header {
    background-color: #eeeeee;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Lock the header in place at the top of the screen */
    top: 0; /* Align the top edge of the header with the top of the viewport */
    left: 0; /* Align the left edge of the header with the left of the viewport */
    width: 100%; /* Ensure the header spans the full width of the viewport */
    z-index: 10; /* Ensure the header layer is above other content */
    border-bottom: 1px solid #4f4e4f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-container {
    position: absolute;
    left: 7.5%; /* Position the left edge of the container at the center of the header */
    top: 2.5px;
    transform: translateX(-50%); /* Move the container back by half of its own width */
}

.logo-container img {
    max-width: 450px; /* Maximum width, the image won't stretch beyond this */
    max-height: 90px; /* Adjust this value based on your header's height */
    height: auto; /* Height adjusts automatically to maintain aspect ratio */
    object-fit: contain; /* Ensures the image is scaled correctly within the set dimensions */
}

@keyframes twinkling {
  0% {
    filter: brightness(1) contrast(1);
  }
  50% {
    filter: brightness(1.2) contrast(1.2);
  }
  100% {
    filter: brightness(1) contrast(1);
  }
}

.logo-container img:hover {
  animation: twinkling 2s forwards;
}
    
main {
    padding: 100px;
    margin-bottom: 1000px;
    margin-top: 0px;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.game-thumbnail:hover, .featuredgame-thumbnail:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Creates an inner shadow */
}

/* Individual featured games */
.featuredgame-thumbnail {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.featuredgame-thumbnail:hover {
    transform: scale(1.05);
}

/* Responsive design elements */
@media screen and (max-width: 768px) {
    /* Adjust styles for mobile view */
}

#featured-games {
    text-align: center;
    margin-top: 50px; /* Reduce this value to move the title upwards */
    /* Add any other styles you need here */
}

#featured-games h2 {
    font-size: 2em; /* Larger font size */
    font-weight: bold; /* Bold font */
    color: #4f4e4f; /* Adjust the color as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional text shadow */
    padding: 0px; /* Padding around the text */
    margin-bottom: 20px; /* Space below the title */
    text-align: center; /* Center alignment */
    animation: fadeInScaleUp 1s ease-out forwards;
}

@keyframes fadeInScaleUp {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#featured-games h2, .featured-games-mask {
  opacity: 0; /* Start with the elements being transparent */
  animation: fadeIn 1s ease-out forwards;
}




#games {
    text-align: center;
    margin-top: 100px;
}

/* Container for the featured games */
.featured-games {
    position: relative; /* Needed for absolute positioning of arrows */
    max-width: 100%; /* Adjust as needed */
    margin: 0 auto; /* Center the container */

}

.featuredgames-container {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically (if needed) */
    flex-wrap: wrap; /* Allow items to wrap */
    transition: transform 0.5s ease-in-out;
}

/* Styling for individual game thumbnails */
.featuredgame-thumbnail {
    flex: 0 0 30%; /* Each game will take up 30% of the container width */
    margin: 20px; /* Add space around thumbnails */
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease; /* For the hover effect to scale the thumbnail */
}

.featuredgame-thumbnail:hover {
    transform: scale(1.05);
}


.featuredgame-thumbnail img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Maintain original border radius */
}

/* Since you're using arrows to navigate, you need to ensure that the container does not wrap */
@media screen and (max-width: 768px) {
    .featuredgames-container {
        flex-wrap: nowrap; /* Prevent wrapping on smaller screens */
        overflow-x: auto; /* Allow horizontal scrolling if needed */
        justify-content: flex-start; /* Align items to the start to avoid spacing issues */
        margin: 0; /* Reset margin for consistent alignment */
        padding: 0 10px; /* Add padding to prevent content from touching the edges */
    }
    
    .featuredgame-thumbnail {
        flex: 0 0 auto; /* Allow each item to shrink to fit its content */
        width: 80%; /* Adjust this to fit the size of the screen better */
        margin: 20px 10px; /* Adjust margins for spacing */
    }
}

/* Responsive design for featured games container */
@media screen and (max-width: 768px) {
    .featuredgame-thumbnail {
        flex-basis: 48%; /* Adjust for fewer items per row on smaller screens */
        width: calc(50% - 20px); /* Adjust accordingly */
    }
}

.games-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.game-thumbnail {
    width: 300px;
    height: 200px;
}

.game-thumbnail img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.game-thumbnail {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.game-thumbnail:hover {
    transform: scale(1.05);
}
.profile-container {
    position: absolute;
    right: 27px; /* Adjust this value as needed to position it from the right edge of the viewport */
    top: 20px; /* You can also adjust the vertical position if needed */
}




.profile-pic:hover {
    transform: scale(1.05); /* Slightly larger on hover */
    border-color: #43af51; /* Change border color */
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    border: 3px solid #4f4e4f;
    cursor: pointer;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #dddddd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 100%;
    top: 100%;
    transform: translateX(50%);
    border: none;
    border-radius: 6px;
    margin-top: 33px;
}

.dropdown-menu .arrow {
    position: absolute;
    top: -10px; /* Position it above the dropdown */
    left: 66.5%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #dddddd; /* Same color as your dropdown background */
}


.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-menu a:hover {
    background-color: #43af51;
}

.info-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 2;
    border: 2px solid #4f4e4f; /* Circular border */
    border-radius: 50%; /* Make it round */
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif; /* Change font here */
    font-size: 16px; /* Adjust font size as needed */
    background-color: #fff; /* Background color */
    color: #333; /* Font color */
}

.info-icon:hover {
    border-color: #43af51;
    color: #43af51;
}

.info-text {
    display: none;
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 30px; /* Adjust as needed */
    border: 1px solid black;
    background-color: white;
    text-align: center;
    width: 200px;
    height: 40px;
    align-content: center;
}

.info-icon:hover + .info-text {
    display: block;
    /* Position and style as needed */
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .featuredgame-thumbnail {
        flex-basis: 48%; /* Adjust for fewer items per row on smaller screens */
        width: calc(50% - 20px); /* Adjust accordingly */
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* other styles */
}

.search-container {
    position: absolute;
   left: calc(70% - 40px); /* Move slightly to the left to make room for the button */
    transform: translateX(-30%);
}

.search-input-container {
    display: flex; /* Use flexbox to align the input and button */
    align-items: center; /* Align items vertically */
    width: 570px; /* Set a width that includes both the input and button */
}

#gameSearch {
    padding: 15px 5px;
    border: 1px solid #4f4e4f;
    border-radius: 4px 4px 4px 4px; /* Rounded corners on the left side only */
    width: 100%; /* Take the full width of the parent container */
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    background-color: #ddd;
    font-weight: bold;

}

#searchButton {
    cursor: pointer;
    background-color: #ddd; /* Matching the header color */
    border: none;
    color: white;
    font-size: 1.2em;
    padding: 12.5px;
    border: 1px solid #4f4e4f;
    border-radius: 0 50px 50px 0; /* Rounded corners on the right side */
}

#searchButton:hover {
    background-color: #43af51; /* New background color on hover */
}

/* Adjustments for the responsive design */
@media (max-width: 600px) {
    .search-container {
        left: 50%;
        width: 90%; /* Adjust the width on smaller screens */
    }

    .search-input-container {
        width: 100%; /* Take the full width of the parent container */
    }

    #gameSearch {
        /* Adjust the width to leave space for the button */
        width: calc(100% - 60px); /* Adjust the width of the search bar */
    }


    #searchButton {
        padding: 10px; /* Slightly less padding on smaller screens */
    }
}

#gameSearch:focus {
    outline: 3px solid #43af51;
}

.btn-navigation-nav-menu-md {
    position: relative;
    background-color: #eeeeee; /* Light grey background */
    border: none;
    border-radius: 20%; /* Circular shape */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    display: flex; /* To center the icon horizontally and vertically */
    justify-content: center;
    align-items: center;
    margin-left: 10px; /* Added margin to move the button to the right */
    padding: 10px; /* Padding to keep the button size consistent */
}

.btn-navigation-nav-menu-md:hover {
    background-color: #43af51;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.icon-nav-menu::before {
    content: '\2630'; /* Unicode for the hamburger icon */
    font-size: 30px; /* Increased icon size for a larger appearance */
    color: #4f4e4f; 
}

.nav-menu-dropdown {
    display: none; /* Hidden initially */
    position: fixed; /* Positions the dropdown absolutely within the relative parent */
    left: 0; /* Aligns to the left of the button */
    top: 99px; /* Positions the dropdown right below the button */
    background-color: #eeeeee; /* Change background color as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for depth */
    width: 250px; /* Adjust width as needed */
    z-index: 1000;
    height: 100%;
}

/* Style for the links within the dropdown */
.nav-menu-dropdown a {
    color: black; /* Text color */
    padding: 10px 15px; /* Padding for each link */
    text-decoration: none; /* Removes underline from links */
    display: block; /* Makes each link take up its own line */
    border-bottom: 3px solid #dddddd; /* Optional: adds a separator between links */
}

.nav-menu-dropdown a:last-child {
    border-bottom: none; /* Removes border from the last link */
}

.nav-menu-dropdown a:hover {
    background-color: #eeeeee; /* Change background color on hover */
}


.dropdown-profile-section {
    padding: 10px;
    border-bottom: 3px solid #4f4e4f;
    border-top: 1px solid #4f4e4f;
    text-align: center;
    background-color: #dddddd; /* Light grey background for the profile section */
}

.dropdown-avatar {
    width: 50px; /* Adjust as necessary */
    height: 50px; /* Adjust as necessary */
    border-radius: 50%;
    margin-bottom: 10px;
}

.dropdown-username {
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.dropdown-link {
    padding: 15px;
    display: block;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #eaeaea;
}

.dropdown-icon {
    margin-right: 10px;
}

/* Add your icon font styles or classes here */
.icon-home::before { content: "🏠"; } /* Replace with actual icons */
.icon-dictionary::before { content: "📚"; } /* Replace with actual icons */
.icon-collection::before { content: "🔖" }
.icon-achievements::before { content: "🏆" }
/* ... more icons ... */

.arrow-button {
    background-color: transparent; /* Dark grey background for visibility */
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border-radius: 0%; /* Circular shape */
    width: 60px; /* Width of the button */
    height: 60px; /* Height of the button */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow */
    border-width: 0 10px 10px 0;
    border-color: black;
}

.arrow-button:hover {
    border-color: black; /* White border on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Enhanced shadow on hover */
}

/* Arrow shape */
.arrow-button::before {
    content: '';
    display: block;
    border-style: solid;
    border-color: transparent;
    border-width: 0 5px 5px 0; /* Right-angle triangle shape */
    width: 20px; /* Arrow width */
    height: 20px; /* Arrow height */
}



/* Left arrow facing left */
#left-arrow {
    left: -10px;
    top: 50%;
    transform: translateY(-50%) rotate(135deg); /* Rotate to point left */
}

/* Right arrow facing right */
#right-arrow {
    right: -10px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg); /* Rotate to point right */
}


/* Continuous pulse effect for visibility */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    70% {
        box-shadow: 20px 20px 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
    }
}

.arrow-button {
    animation: pulse 3.5s infinite;
}

@media screen and (max-width: 768px) {
    .arrow-button {
        /* Adjust size, position, or visibility for smaller screens */
        left: 5px; /* Example for smaller left-arrow */
        right: 5px; /* Example for smaller right-arrow */
    }
}

.featured-games-slider {
    position: relative; /* Position context for the arrows */
}

.featured-games-mask {
    overflow: visible; /* Allow the arrows to be outside the mask area */
    width: calc(100% - 120px); /* You can adjust or remove this if not needed */
    padding: 0 60px; /* Add padding to create space for the arrows */
    margin: 0 auto;
    position: relative;
}
