/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #D3D3D3;
}

header {
    background-color: #FFD700;
    color: #fff;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-buttons {
    display: flex;
    justify-content: flex-start;
    margin-left: 70px;
}

#subscribe-btn {
    color: white;
    padding: 20px 50px;
    margin: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #178090;
    font-size: 20px;
    font: 'Roboto Condensed', sans-serif;
    font-weight: bold;

}

#login-btn {
    color: white;
    padding: 20px 50px;
    margin: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #178090;
    font-size: 20px;
    font: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

#login-btn:hover, #subscribe-btn:hover {
    background-color: white;
    color: black;
}

.logo-container img {
    height: 150px;
    width: 200px;
}

.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
}

nav ul {
    background-color: #178090;
    text-align: center;
    padding: 15px 0;
    margin-right: 50px;
}

nav ul li {
    display: inline;
    margin: 0 30px;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    text-align: centre;
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 4px;
}

.dropdown:hover .dropdown-content {
    display: block;

}

nav ul li:hover .dropdown-content {
    display: block;
}

main {
    padding: 20px;
    margin-bottom: 1000px;
}

section#home {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-top: 50px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h2 {
    margin-bottom: 30px;
}

p {
    margin-bottom: 20px;
}



/* Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

/* Input Fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

/* Button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
