body, html {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Electrolize', sans-serif; /* Consistent font family */
    color: white; /* Softer text color for better readability */
    background: #e8e8e8; /* Light background for the overall page */
}

.container {
    display: flex;
    height: 100%;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1); /* Subtle inner shadow for depth */
    background: linear-gradient(to right, #95909f 0%, #777c9a 50%, #566596 100%);
}

.simple-divider {
    width: 2px; /* Width of the vertical divider */
    height: 200px; /* Height of the vertical divider */
    background-color: #ccc; /* Color of the divider */
    margin: 540px auto; /* Centers the divider horizontally */
}


.left, .right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    overflow-y: auto;
    transition: background-color 0.3s; /* Smooth background transition */
}

.left {
/* Lighter shade for left */
    padding: 20px;
}

.right {
    padding: 20px;
}


.left h1, .right h1,
.left p, .right p {
    transition: transform 0.3s ease, color 0.3s ease; /* Ensuring smooth transitions */
}

/* Hover effects on the headings within left and right sections */
.left:hover h1, .right:hover h1 {
    transform: scale(1.5); /* Subtle lift effect */
    color: #fdb740; /* Golden color for a touch of elegance */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Soft shadow for depth */
}

/* Hover effects on the paragraphs within left and right sections */
.left:hover p, .right:hover p {
    transform: scale(1.25); /* Slightly less lift for paragraphs */
    color: #ffffff; /* Brighten the text slightly on hover */
}


h1 {
    font-size: 3em; /* Larger text for headers */
    margin-bottom: 5px; /* Spacing between header and paragraph */
}

p {
    font-size: 1.2em; /* Larger paragraph text */
    max-width: 80%; /* Control the text width for better readability */
    text-align: center; /* Centered text */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
        height: 50%;
    }
}


.logo-container {
    position: absolute;
    left: 5%; /* Position the left edge of the container at the center of the header */
    top: 30px;
    transform: translateX(-50%); /* Move the container back by half of its own width */

    /* ... other styles ... */
}

.logo-container img {
    max-width: 420px; /* Maximum width, the image won't stretch beyond this */
    max-height: 100px; /* Adjust this value based on your header's height */
    height: auto; /* Height adjusts automatically to maintain aspect ratio */
    object-fit: contain; /* Ensures the image is scaled correctly within the set dimensions */

}


.profile-container {
    position: absolute;
    right: 30px; /* Adjust this value as needed to position it from the right edge of the viewport */
    top: 30px; /* You can also adjust the vertical position if needed */
}




.profile-pic:hover {
    transform: scale(1.05); /* Slightly larger on hover */
    border-color: #fdb740; /* Change border color */
}


.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid black;
}

.status-badge {
    position: absolute;
    bottom: 80px;
    right: 0;
    width: 20px; /* Size of the status badge */
    height: 20px; /* Size of the status badge */
    background-color: rgb(74, 240, 167);
    border-radius: 50%; /* Makes the badge round */
    border: 2px solid black; /* Makes the badge stand out */
}

/* Profile Pop-up Styles */
.profile-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
    background-color: #14202B;
    right: 0;
    padding: 20px;
    border: 1px solid #888;
    width: 430px; /* Width of the popup */
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: fixed;
}

.close-button {
    color: #fff;
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 60px;
}

.close-button:hover,
.close-button:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.profile-header {
    text-align: center;
    color: white;
}

.profile-picture {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-header h2 {
    margin-top: 10px;
    font-size: 1.5em; /* Adjust as needed */
}

.profile-header p {
    font-size: 1em; /* Adjust as needed */
    color: #fff;
    margin-top: -15px;
    margin-bottom: 30px;
    text-align: center;
}

.profile-links a {
    display: block;
    color: white;
    padding: 25px;
    text-decoration: none;
    border-top: 1px solid #2b3e50; /* Adjust color as needed */
    font-weight: bold;
}

.profile-links a:hover {
    background-color: #1a2a37; /* Adjust color as needed */
}


/* Keyframes for sliding out to the right */
@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

/* CSS for the popup when it's open */
.popup-content.open {
    animation: slideInRight 0.5s ease forwards;
}

/* CSS for the popup when it's closing */
.popup-content.close {
    animation: slideOutRight 0.5s ease forwards;
}

/* Keyframes for sliding in from the right */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


.title-container {
    position: absolute;
    top: 2.5%; /* Set the vertical position */
    left: 50%; /* Center the container horizontally */
    transform: translateX(-50%); /* Align the center of the container with the center of the page */
    width: 750px; /* Automatic width based on content size */
    text-align: center;
    font-size: 2em; /* Smaller font size */
    font-weight: bold;
    color: white;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.1); /* Set your desired background color */
    padding: 30px 40px; /* Padding to control the size and space inside the container */
    border-radius: 10px; /* Optional: rounded corners for aesthetic */
}

.welcome {
    animation: fadeInEase 1.5s ease-in-out 0.5s forwards;
    font-size: 3.2em;
}

.name {
    animation: fadeInEase 1.5s ease-in-out 0.5s forwards;
    color: #fdb740;
}

@keyframes fadeInEase {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideUpFadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.login-streak-container {
    position: absolute;
    bottom: 0; /* Position near the bottom of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Correctly center it */
    text-align: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(44, 62, 80, 0.8); /* Dark background with some transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%; /* Make the container wider to fit all days comfortably */
    max-width: 600px; /* Limit maximum width */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.streak-days {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px; /* Spacing between title and days */
}

.day {
    width: 40px; /* Size of each day box */
    height: 40px;
    background-color: #fff; /* Light background for days */
    color: #333; /* Dark text color for contrast */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0%; /* Circular days */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer; /* Pointer to indicate it's interactive */
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}

.day.crossed-off {
    background-color: #2ecc71; /* Green background for completed days */
    color: #fff; /* White text to stand out against the green */
    text-decoration: line-through;
}

