body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom, #243A4E 0%, #2D4A61 50%, #364E70 100%);
    display: flex; /* Added */
    justify-content: center; /* Added - centers horizontally */
    align-items: center; /* Added - centers vertically */
    flex-direction: column; /* Added - ensures content is aligned in a column */
}

.header {
    background: linear-gradient(to bottom, #1C2D3D 0%, #243A4E 100%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #14202b;
    position: fixed; /* Changed to fixed to keep the header at the top */
    box-sizing: border-box; /* Ensures padding is included in the width and height calculation */
}

.logo {
    max-width: 420px;
    max-height: 70px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 0; /* Adjusted */
    box-sizing: border-box;
    margin-top: 0px; /* Adjust this value based on your header's actual height to ensure content starts below the header */
}

/* Add this to your existing CSS */
.title-container {
    font-family: "Electrolize", sans-serif;
    position: relative; /* Ensures absolute positioning within container */
    height: 250px; /* Increased height to accommodate larger text */
    width: 100%; /* Full width of container */
    text-align: center;
    color: white;
}

.welcome {
    position: absolute;
    width: 100%;
    left: 0;
    top: 30%; /* Reduced vertical distance */
    transform: translateY(-50%);
    font-size: 5em; /* Retaining the larger font size */
    color: white; /* White color */
    opacity: 0;
    animation: fadeInEase 1.5s ease-in-out forwards;
    text-decoration: underline; /* Adds underline to the text */
    text-decoration-color: white; /* Optional: changes the color of the underline */
    text-decoration-style: solid; /* Optional: can be 'solid', 'double', 'dotted', 'dashed', 'wavy' */
    text-decoration-thickness: 2.5px; /* Adjusts the thickness of the underline */
    text-underline-offset: 8px; /* Increases the gap between the text and the underline */
}

.name {
    position: absolute;
    width: 100%;
    left: 0;
    top: 60%; /* Reduced vertical distance to bring it closer to 'Welcome' */
    transform: translateY(-50%);
    font-size: 1.5em; /* Retained size for hierarchy */
    color: white; /* Soft blue for contrast */
    opacity: 0;
    animation: fadeInEase 1.5s ease-in-out 0.5s forwards;
}

@keyframes fadeInEase {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideUpFadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-container {
    display: flex; /* Keeps buttons in a row */
    gap: 50px; /* Space between buttons */
    justify-content: center; /* Center buttons horizontally */
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
    position: relative; /* Needed for absolute positioning of the pseudo-element */
    animation: slideUpFadeIn 0.7s ease-out forwards; /* Apply the animation to the container */
}

.button {
    width: 30vw; /* Set the width */
    height: 20vw; /* Make the height equal to the width to ensure a square */
    border-radius: 0; /* This removes the rounded corners to make the shape a square */
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid white;
}

.button:hover {
    transform: scale(1.05); /* Makes the button slightly larger */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.button img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#engage:hover, #play:hover {
}

.profile-container {
    position: absolute;
    right: 27px; /* Adjust this value as needed to position it from the right edge of the viewport */
    top: 20px; /* You can also adjust the vertical position if needed */
}

.profile-pic:hover {
    transform: scale(1.05); /* Slightly larger on hover */
    border-color: #fdb740; /* Change border color */
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    border: 3px solid #243A4E;
    cursor: pointer;
    object-fit: cover;
}

.dropdown-menu {
    font-family: "Electrolize", sans-serif;
    display: none;
    position: absolute;
    background-color: #14202B;
    min-width: 160px;
    z-index: 1;
    right: 100%;
    top: 100%;
    transform: translateX(50%);
    border: none;
    border-radius: 6px;
    margin-top: 33px;
}

.dropdown-menu .arrow {
    position: absolute;
    top: -10px; /* Position it above the dropdown */
    left: 66.5%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #14202B; /* Same color as your dropdown background */
}


.dropdown-menu a {
    color: white;
    padding: 13px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-menu a:hover {
    background-color: #fdb740;
    color: black;
}