body {
    font-family: 'Electrolize', sans-serif;
    background: linear-gradient(to bottom, #243A4E 0%, #2D4A61 50%, #364E70 100%);
    height: 100vh;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main#content {
    width: 80%;
    max-width: 1200px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
        font-size: 3em;
        margin: 0;
        font-weight: 600;
        color: white;
        position: absolute;
        top: 60px; /* Increased space above the title */
        left: 50%;
        transform: translateX(-50%);
}

#flashcards-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#folders-section, #flashcards-view {
    flex: 1;
    margin: 0 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers child elements horizontally */
}

h3 {
    text-align: center; /* Centers the text within the element */
    width: 100%; /* Ensures the h3 element spans the full width of its container */
    margin-top: 0; /* Adjusts spacing to your preference */
}

#folders-list, #flashcards-view h3 {
    width: 100%; /* Ensure full width for alignment */
}

#folders-list {
    list-style: none;
    padding: 0;
    margin: 20px 0; /* Provide some space around the list */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center list items */
}

#folders-list li {
    margin: 10px 0;
    cursor: pointer;
}

button {
    background-color: #1C2D3D;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    transition: background-color 0.3s ease;
    align-self: center; /* Center button within its parent */
}

button:hover {
    background-color: #fdb740;
    color: black;
}

#backButtonContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2000;
}

#backToMinigames {
    font-family: "Electrolize", sans-serif;
    background-color: #1C2D3D; /* A deep green for better visibility and aesthetics */
    color: white; /* White text for high contrast and readability */
    border: 2px solid black; /* Solid border to match the background */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    transition: all 0.3s ease; /* Smooth transition for a more interactive feel */
}

#backToMinigames:hover {
    background-color: #fdb740; /* A slightly darker green for the hover state */
    border-color: black; /* Darker border to emphasize the hover effect */
    color: black;
}

.header-with-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#create-folder {
    background-color: #364E70; /* Background color */
    color: #ffffff; /* Icon color */
    border: 2px solid #2D4A61; /* Border color for contrast */
    padding: 0; /* Remove padding to allow flexbox to handle alignment */
    font-size: 16px; /* Icon size, adjust as needed */
    cursor: pointer;
    border-radius: 50%; /* Circular shape */
    width: 30px; /* Fixed width */
    height: 30px; /* Fixed height to match width, creating a circle */
    display: inline-flex; /* Use flex to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effect */
    line-height: 1; /* Ensure the line height does not affect vertical alignment */
    text-align: center; /* Ensure text (icon) is centered, might be redundant with flex but added for safety */
}

#create-folder:hover {
    background-color: #2D4A61; /* Darker shade on hover */
    transform: scale(1.1); /* Slightly increase size on hover */
}

h3 {
    margin: 0; /* Removes default margin to align closely with the button */
}

#folders-list li {
    display: flex;
    flex-direction: column; /* Stack icon and name vertically */
    align-items: center; /* Center items horizontally */
    margin: 10px 0;
    cursor: pointer;
    width: 100px; /* Set a fixed width for each item */
    text-align: center; /* Ensure text is centered under the icon */
}